<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="TableSetting.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TableSetting.Wpf.Properties.Settings>
      <setting name="ApplicationSettings" serializeAs="Xml">
        <value>
          <ApplicationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <DbProviderName>Npgsql</DbProviderName>
            <ConnectionSettings>
              <ConnectionSetting>
                <Key>Driver</Key>
                <Value>PostgreSQL</Value>
                <Enable>false</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>Provider</Key>
                <Value>Microsoft.Jet.OLEDB.4.0</Value>
                <Enable>false</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>Server</Key>
                <Value>127.0.0.1</Value>
                <Enable>true</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>Data Source</Key>
                <Value/>
                <Enable>false</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>Database</Key>
                <Value>****</Value>
                <Enable>true</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>Integrated Security</Key>
                <Value>sspi</Value>
                <Enable>false</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>UID</Key>
                <Value>****</Value>
                <Enable>true</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>PWD</Key>
                <Value>****</Value>
                <Enable>true</Enable>
              </ConnectionSetting>
              <ConnectionSetting>
                <Key>ByteaAsLongVarBinary</Key>
                <Value>1</Value>
                <Enable>false</Enable>
              </ConnectionSetting>
            </ConnectionSettings>
          </ApplicationSettings>
        </value>
      </setting>
    </TableSetting.Wpf.Properties.Settings>
  </userSettings>
</configuration>
